/* RESET */
/* Imagem de Fundo: Em vez de uma cor sólida, tente adicionar uma imagem de fundo na .hero-section usando a propriedade background-image: url(...). Como você pode garantir que o texto branco continue legível? (Dica: pesquise sobre como adicionar um gradiente escuro sobre a imagem).

Múltiplos Botões: Adicione um segundo botão, com um estilo diferente (ex: apenas com borda, sem fundo), ao lado do primeiro. Como você usaria o Flexbox no .hero-content para alinhá-lo */
/* 1. ESTILOS GERAIS */

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

.hero-section {
    background-image: url(/assets/img/info2.jpg);
    background-size: cover;
    color: #000000;
    background-position: center;
    display: flex;
    /* É uma forma de alinhar elementos lado a lado ou um embaixo do outro, com controle total de espaçamento, alinhamento e direção. */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Isso faz com que a seção Hero ocupe a tela inteira verticalmente. */
    padding: 20px;
    /* Adiciona um padding para garantir que o conteúdo não cole nas bordas da tela em dispositivos menores. */
}

.hero-content {

    text-align: center;
    max-width: 700px;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 1.30rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #000000;
}

.hero-button {
    background-color: #007bff;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 30px;
}

.hero-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.hero-button-outline {
    background-color: #007bff;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 30px;
    transition: 0.3s;
}

.hero-button-outline:hover {
    background-color: #0056b3;
    color: #fff;
    transform: translateY(-2px);
}